.a-sandboxforminput {
  height: 64px;
  padding-left: 21px;

  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: black black transparent;
  border-radius: 12px;

  background-color: rgba(0, 0, 0, 0.4);

  transition: all 250ms ease;

  color: white;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.a-sandboxforminput:focus {
  border-bottom-color: var(--primaryGreen-93a27a6f);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.a-sandboxforminput.left {
  width: 100%;
  padding: 8px 12px 8px 21px;
  text-align: left;
}