.a-wrapper {
  display: block;
  width: 86%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.a-wrapper.aligncenter {
  position: relative;

  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: transparent;

  text-align: center;
}

@media screen and (max-width: 991px) {
  .a-wrapper.aligncenter {
    width: 88%;
  }
}

.a-wrapper.nopadding {
  width: 100%;
}

.a-wrapper.flex {
  display: flex;
  width: 90%;
  max-width: 1200px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

@media screen and (max-width: 991px) {
  .a-wrapper.flex {
    width: 98%;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.heading-2 {
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: 'Proxima Nova';
  color: hsla(0, 19.14%, 93.40%, 1.00);
  font-size: 60px;
  font-weight: 700;
}

.a-leadtext {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .a-leadtext {
    font-size: 23px;
    line-height: 33px;
  }
}

.a-leadtext.maxwidth750 {
  max-width: 750px;
  margin-bottom: 20px;

  font-family: 'Proxima Nova';
  color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.a-leadtext.maxwidth750.team {
  position: relative;
  z-index: 1000;

  margin-right: auto;
  margin-left: auto;

  color: hsla(0, 0.00%, 100.00%, 0.75);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .a-leadtext.maxwidth750.team {
    width: 95%;
  }
}